@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.4139 0.1263 33.2086);
  --card: oklch(0.9848 0 0);
  --card-foreground: oklch(0.4139 0.1263 33.2086);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.4139 0.1263 33.2086);
  --primary: oklch(0.4887 0.1761 18.6781);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.6026 0.1684 143.1302);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9234 0 0);
  --muted-foreground: oklch(0.5103 0 0);
  --accent: oklch(0.9745 0.0529 107.3415);
  --accent-foreground: oklch(0.4419 0.0888 109.5421);
  --destructive: oklch(0.6068 0.2450 28.8791);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8452 0 0);
  --input: oklch(0.9619 0 0);
  --ring: oklch(0.4887 0.1761 18.6781);
  --chart-1: oklch(0.4887 0.1761 18.6781);
  --chart-2: oklch(0.6026 0.1684 143.1302);
  --chart-3: oklch(0.8942 0.1911 109.7125);
  --chart-4: oklch(0.5883 0.1391 251.4432);
  --chart-5: oklch(0.6261 0.1620 313.3711);
  --sidebar: oklch(0.6026 0.1684 143.1302);
  --sidebar-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(1.0000 0 0);
  --sidebar-primary-foreground: oklch(0.4903 0.1342 143.1884);
  --sidebar-accent: oklch(0.5751 0.2098 19.0719);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.4723 0.1130 143.5284);
  --sidebar-ring: oklch(1.0000 0 0);
  --font-sans: 'Quicksand', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'Roboto Mono', monospace;
  --radius: 0.75rem;
  --shadow-x: 0;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(0, 0%, 0%);
  --shadow-2xs: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.25);
  --tracking-normal: 0.02em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2628 0.0204 31.4007);
  --foreground: oklch(0.9234 0 0);
  --card: oklch(0.2106 0.0143 31.3335);
  --card-foreground: oklch(0.9234 0 0);
  --popover: oklch(0.2628 0.0204 31.4007);
  --popover-foreground: oklch(0.9234 0 0);
  --primary: oklch(0.5751 0.2098 19.0719);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.7099 0.2008 143.0946);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.3623 0.0234 31.3112);
  --muted-foreground: oklch(0.7652 0 0);
  --accent: oklch(0.5636 0.1102 109.4708);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.6398 0.2196 26.0168);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.4089 0.0273 31.3251);
  --input: oklch(0.3142 0.0194 31.2925);
  --ring: oklch(0.5751 0.2098 19.0719);
  --chart-1: oklch(0.5751 0.2098 19.0719);
  --chart-2: oklch(0.7099 0.2008 143.0946);
  --chart-3: oklch(0.8532 0.1442 109.1023);
  --chart-4: oklch(0.6673 0.1116 249.8250);
  --chart-5: oklch(0.7175 0.1210 313.9710);
  --sidebar: oklch(0.1550 0.0077 31.1968);
  --sidebar-foreground: oklch(0.9619 0 0);
  --sidebar-primary: oklch(0.9234 0 0);
  --sidebar-primary-foreground: oklch(0.2628 0.0204 31.4007);
  --sidebar-accent: oklch(0.5751 0.2098 19.0719);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.3604 0.0315 31.4748);
  --sidebar-ring: oklch(0.9234 0 0);
  --font-sans: 'Quicksand', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'Roboto Mono', monospace;
  --radius: 0.75rem;
  --shadow-x: 0;
  --shadow-y: 0.375rem;
  --shadow-blur: 0.75rem;
  --shadow-spread: 0;
  --shadow-opacity: 0.3;
  --shadow-color: hsl(0, 0%, 0%);
  --shadow-2xs: 0 0.375rem 0.75rem 0 hsl(0 0% 0% / 0.15);
  --shadow-xs: 0 0.375rem 0.75rem 0 hsl(0 0% 0% / 0.15);
  --shadow-sm: 0 0.375rem 0.75rem 0 hsl(0 0% 0% / 0.30), 0 1px 2px -1px hsl(0 0% 0% / 0.30);
  --shadow: 0 0.375rem 0.75rem 0 hsl(0 0% 0% / 0.30), 0 1px 2px -1px hsl(0 0% 0% / 0.30);
  --shadow-md: 0 0.375rem 0.75rem 0 hsl(0 0% 0% / 0.30), 0 2px 4px -1px hsl(0 0% 0% / 0.30);
  --shadow-lg: 0 0.375rem 0.75rem 0 hsl(0 0% 0% / 0.30), 0 4px 6px -1px hsl(0 0% 0% / 0.30);
  --shadow-xl: 0 0.375rem 0.75rem 0 hsl(0 0% 0% / 0.30), 0 8px 10px -1px hsl(0 0% 0% / 0.30);
  --shadow-2xl: 0 0.375rem 0.75rem 0 hsl(0 0% 0% / 0.75);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}